/* Allow copying */
.codicon-none {
    user-select: text !important;
    -webkit-user-select: text !important;
}

/* Hide errors */
div.monaco-hover-content:has(.codicon-none) > .hover-row:first-child {
    display: none !important;
}
div.monaco-hover-content:has([style="color:#f96363;"]) > .hover-row:first-child {
    display: none !important
}

/* Change order */
.monaco-hover .monaco-hover-content {
    display: flex;
    flex-direction: column;
}
.monaco-hover .monaco-hover-content .hover-row {
    order: 2;
}
.monaco-hover .monaco-hover-content .hover-row:has(.codicon-none) {
    order: 1;
}
.monaco-hover .monaco-hover-content .hover-row:has([style="color:#f96363;"]) {
    order: 1;
}